.hero__card{
  display: flex;
  justify-content: center;
  align-items: top;
}
.hero__card-text{
  width: 50%;
  /* background-color: orange; */
}
.hero__card-text h2{
  font-size: 40px;
}
.hero__card-text2 h4{
  font-size: 30px;
  margin-top: 15px;
  margin-left: 15px;
}
.hero__card-text3 p{
  font-size: 20px;
  margin-left: 35px;
}
.i-con i{
  font-size: 20px;
  margin-left: 30px;
}
.i-con i span{
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
  Helvetica, Arial;
  margin-left: 10px;
  font-weight: 500;
}
.hero__card-pic{
  width: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.card__pic{
  width: 90%;
  background-color: rgb(47, 122, 189);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card__pic-left{
  width: 50%;
  height: 95%;
  background-color: rgb(231, 239, 246);
}
.card__pic-left img{
  width: 100%;
  height: 100%;
}
.card__pic-right{
  width: 50%;
  height: 100%;
  background-color: antiquewhite;
  
}